:root {
  --white: #f5f5f5;
  --black: #383a42;
  --grey: #383a42bb;
  --red: #e45649;
  --blue: #0184bc;
}

html, body {
	font-size: xx-large;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--black);
  background-color: var(--white);
}

h1 {
	font-size: xx-large;
}

a, a:visited {
	color:var(--black);
	text-decoration: none;
}

a:hover {
	color: var(--blue);
}

.contact a {
	padding: 0 3pt;
}

header {
	display: grid;
	grid-template-areas:
		"title ."
		"description description"
		". contact";

	width: calc(560px - 32px);
	padding: 32px 0;
	margin-left: auto;
	margin-right: auto;
}

.title {
	align-self: baseline;
	grid-area: title;
	flex: 0 1 25%;
}

.description {
	align-self: baseline;
	grid-area: description;
	margin: 0px;
}

.contact {
	align-self: flex-start;
	grid-area: contact;
	justify-self: flex-end;
}

@media only screen and (min-width:640px) {
	header {
			width: calc(640px - 32px);
	}
}

@media only screen and (min-width:782px) {
	header  {
			width: calc(782px - 32px);
	}
}

@media only screen and (min-width:1140px) {
	header  {
		width: calc(min(1840px, 100%) - 64px);
		grid-column-gap: 64px;
		grid-template-rows: auto;
		grid-auto-flow: row;
		grid-template-areas:
			"title   description ."
			"contact description ."
			". description .";
	}

	.title {
		margin-top: 0;
		margin-bottom: 0;
	}

	.contact {
		justify-self: flex-start !important;
		margin-top: 0;
		margin-bottom: 0;
	}
}